*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	 }

.rectangles {
	outline: 5px solid black;
    margin: 50px;
   text-align: center; 
    position: relative; }


.rectangle { 

height: 100px;

outline: 1px solid black;
color:white }


.one { background-color:#9F149F; }

.two { background-color:#400040; }

.three { background-color:#740074;
          position: absolute;
    top: 0%;
    left: 0% ;
    right: 0%;}

.four { background-color:#000000;
	
}


.five { background-color: #B24BB2; }